5_6082394657231208690.txt
[{"id":"74d3352.3a122cc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c140b7b3.5e2108","type":"debug","z":"74d3352.3a122cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"a00af3dd.021c3","type":"http request","z":"74d3352.3a122cc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["4c5c1254.bc6b9c","580881a4.b4c6d"]]},{"id":"c652b14e.6b38a","type":"function","z":"74d3352.3a122cc","name":"Pre-tocken","func":"global.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"wind\",msg.payload.wind)\nvar apikey=\"0j0XV6mXvvlyiChB8bdqg3pgitgIckLTC83YJHuQphT7\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":300,"wires":[["a00af3dd.021c3"]]},{"id":"4c5c1254.bc6b9c","type":"function","z":"74d3352.3a122cc","name":"Pre-Prediction","func":"var temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar wind = global.get(\"wind\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"temperature\", \"humidity\", \"wind\"]],\"values\": [[temperature,humidity,wind]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["69ec78d1.14a1a8"]]},{"id":"580881a4.b4c6d","type":"debug","z":"74d3352.3a122cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"59dbbe9b.c472e","type":"function","z":"74d3352.3a122cc","name":"","func":"var temperature = global.get ('temperature')\nvar humidity = global.get ('humidity')\nvar wind = global.get ('wind')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n Rainfall: {\n temperature: temperature,\n humidity: humidity,\n wind: wind,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["dc523a37.7a8428","22c4d15d.07540e"]]},{"id":"69ec78d1.14a1a8","type":"http request","z":"74d3352.3a122cc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/8ccf3321-f043-4a45-a8e7-cc7156abd264/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["59dbbe9b.c472e","e53de3aa.2f3de"]]},{"id":"e53de3aa.2f3de","type":"debug","z":"74d3352.3a122cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"22c4d15d.07540e","type":"debug","z":"74d3352.3a122cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"dc523a37.7a8428","type":"ui_text","z":"74d3352.3a122cc","group":"691b9297.b17ecc","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":220,"wires":[]},{"id":"1373b1dc.b6d7de","type":"inject","z":"74d3352.3a122cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["c652b14e.6b38a"]]},{"id":"84c34a98.408a88","type":"ui_gauge","z":"74d3352.3a122cc","name":"","group":"691b9297.b17ecc","order":1,"width":"6","height":"6","gtype":"gage","title":"humidity","label":"Degree","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":100,"wires":[]},{"id":"22f46bff.c57bd4","type":"ui_gauge","z":"74d3352.3a122cc","name":"","group":"691b9297.b17ecc","order":3,"width":"6","height":"6","gtype":"gage","title":"wind","label":"units","format":"{{msg.payload.wind}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":160,"wires":[]},{"id":"9d16ffcd.a6a5f","type":"ui_gauge","z":"74d3352.3a122cc","name":"","group":"691b9297.b17ecc","order":4,"width":"6","height":"6","gtype":"gage","title":"temperature","label":"","format":"{{msg.payload.temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":60,"wires":[]},{"id":"8bb50474.079e48","type":"ibmiot in","z":"74d3352.3a122cc","authentication":"apiKey","apiKey":"97d47bf3.6e0588","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"DHT","applicationId":"","deviceType":"123456","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["9d16ffcd.a6a5f","84c34a98.408a88","22f46bff.c57bd4","c652b14e.6b38a"]]},{"id":"691b9297.b17ecc","type":"ui_group","z":"","name":"IoT Heart ","tab":"8f1b70e4.1ab21","order":3,"disp":true,"width":"17","collapse":false},{"id":"97d47bf3.6e0588","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"ekxbx0.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"8f1b70e4.1ab21","type":"ui_tab","z":"","name":"Analysis","icon":"dashboard","disabled":false,"hidden":false}]